{% extends 'base.html.twig' %}

{% block title %}Admin - Page auteurs
{% endblock %}

{% block main %}
	<main class="flex-1 mt-12 w-full">
		<section class='flex flex-col items-center gap-4 px-4 pt-12 text-center'>
			<h2 class='text-5xl font-extrabold'>Page d'administration des auteurs</h2>

			<a href="/admin/author/new" class="secondary-button">Ajouter un auteur</a>

			<p>TODO: Affichage liste auteurs ?</p>
		</section>
	</main>
{% endblock %}
