{% extends 'base.html.twig' %}

{% block title %}Admin - Page éditeurs
{% endblock %}

{% block main %}
	<main class="flex-1 mt-12 w-full">
		<section class='flex flex-col items-center gap-4 px-4 pt-12 text-center'>
			<h2 class='text-5xl font-extrabold'>Page d'administration des éditeurs</h2>

			<p>TODO: Affichage liste éditeurs ?</p>
		</section>
	</main>
{% endblock %}
