@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */

body {
	font-family: "Roboto", sans-serif;
}

.main-button {
	display: block;
	width: fit-content;
	font-size: 1.2rem;
	background-color: white;
	border-radius: 10px;
	padding: 5px 25px;
	cursor: pointer;
	border: 2px solid #f8f9fa;
	transition: background-color 400ms;
}

.main-button:hover {
	background-color: #d3d4d5;
	border-color: #d3d4d5;
}

.secondary-button {
	display: block;
	width: fit-content;
	font-size: 1.2rem;
	color: white;
	background-color: rgb(37 99 235);
	border-radius: 10px;
	padding: 5px 25px;
	cursor: pointer;
	border: 2px solid rgb(29 78 216);
	transition: background-color 400ms;
}

.secondary-button:hover {
	background-color: rgb(29 78 216);
}
