{% extends 'base.html.twig' %}

{% block title %}Admin - Page livres
{% endblock %}

{% block main %}
	<main class="flex-1 mt-12 w-full">
		<section class='flex flex-col items-center gap-4 px-4 pt-12 text-center'>
			<h2 class='text-5xl font-extrabold'>Page d'administration des livres</h2>

			<a href="/admin/book/new" class="secondary-button">Ajouter un livre</a>

			<p>TODO: Affichage liste livres ?</p>
		</section>
	</main>
{% endblock %}
